$side-font: 4.2rem;

html {
	font-size: 62.5%;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #ddd, #999);
	height: 100vh;
}

.main-hood {
	height: 85vh;
	min-height: 712px;
	max-height: 1200px;
	width: 90vw;
	min-width: 1000px;
	max-width: 1600px;
	background-image: linear-gradient(to right, rgb(0, 0, 20), rgb(1, 1, 50));
	border-radius: 50px;
	position: relative;
	display: flex;
}

.sidebar {
	display: flex;
	flex-direction: column;
	color: white;
	height: 60rem;
	width: 120px;
	position: relative;
	left: 30px;
	border-radius: 30px;
	align-self: center;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.2),
		rgba(255, 255, 255, 0.1)
	);
	justify-content: space-evenly;
	align-items: center;

	.fas {
		font-size: $side-font;
		background-image: linear-gradient(to bottom, #fff, #888);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		cursor: pointer;
		position: relative;
	}
}

.nav {
    position: absolute;
    height: $side-font + 2.2rem;
    top: 5.5rem;
    border-left: 12px solid rgb(233, 10, 122);
    left: 0;
    border-radius: 30px;
    box-shadow: 2rem 0 4.5rem rgb(233, 10, 122);
}
