html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#ddd), to(#999));
  background-image: linear-gradient(to right, #ddd, #999);
  height: 100vh;
  overflow-x: hidden;
}

.main-hood {
  height: 85vh;
  min-height: 620px;
  width: 90vw;
  min-width: 700px;
  max-width: 1400px;
  background-image: -webkit-gradient(linear, left top, right top, from(#000014), to(#010132));
  background-image: linear-gradient(to right, #000014, #010132);
  border-radius: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapper {
  height: 500%;
  width: 80%;
  position: relative;
  margin: auto;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.container {
  width: 100%;
  height: 20%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.statusbar {
  position: absolute;
  width: 100%;
  height: 4rem;
  top: 1.8rem;
  font-family: 'fira code';
  font-size: 1.6rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statusbar .right-status {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 4rem;
  width: 20rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.statusbar .time {
  font-weight: 400;
  position: relative;
  left: 4rem;
}

.statusbar img {
  height: 20px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  height: 60rem;
  width: 100px;
  position: relative;
  left: 25px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .fas {
  font-size: 4.2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#666));
  background-image: linear-gradient(to bottom, #fff, #666);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  position: relative;
}

.nav {
  position: absolute;
  height: 6.4rem;
  top: 5.5rem;
  border-left: 10px solid #f008f8;
  left: 0;
  border-radius: 30px;
  -webkit-box-shadow: 1rem 0 3.2rem #f008f8;
          box-shadow: 1rem 0 3.2rem #f008f8;
  -webkit-transform: translateY(21.4rem);
          transform: translateY(21.4rem);
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.location {
  height: 85%;
  width: 100%;
  border-radius: 30px;
  margin: auto;
}

.home {
  height: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car-hood {
  height: 60%;
  border-left: 3px solid #910196;
  border-right: 3px solid #910196;
  -webkit-box-shadow: inset 0 0 4rem rgba(255, 255, 255, 0.26);
          box-shadow: inset 0 0 4rem rgba(255, 255, 255, 0.26);
  width: 85%;
  border-radius: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.speed {
  color: #ddd;
  font-family: poppins;
}

.speed .speed-num {
  font-size: 8rem;
  font-weight: 500;
}

.speed .speed-unit {
  font-size: 3rem;
  font-style: italic;
  text-transform: lowercase;
}

.speed .speed-info {
  font-size: 2rem;
  font-style: italic;
}

.speed .speed-flicker {
  -webkit-animation: flicker 1s infinite;
          animation: flicker 1s infinite;
}

.mode {
  font-size: 2rem;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.gears {
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: 600;
}

.music-hood {
  margin-top: 2rem;
  height: 30%;
  width: 85%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.song-img {
  height: 13rem;
}

.img-rotate {
  -webkit-animation: rotate 4s infinite linear;
          animation: rotate 4s infinite linear;
}

.car-img {
  height: 25rem;
}

.music-section {
  height: 85%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
  position: relative;
}

.line {
  position: absolute;
  top: 70%;
  width: 90%;
  border-radius: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5px;
  background-color: #f008f8;
  -webkit-box-shadow: 0 0 3rem #f008f8;
          box-shadow: 0 0 3rem #f008f8;
}

.music-player {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 75%;
  height: 20%;
  width: 100%;
}

.music-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.music-control img {
  height: 50px;
  cursor: pointer;
}

.error {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: none;
  background-color: #fff;
  font-size: 4rem;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .error {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}

@media screen and (max-height: 620px) {
  .error {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */